@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Mate&display=swap');

:root {
    --primary-color: #728B97;
    --secondary-color: #80BDA1;
    --accent1-color: #CEEDDB;
    --accent2-color: #D7974F;

    --heading-font: 'Dancing Script', serif;
    --paragraph-font: 'Mate', serif;

    --nav-background-color: #728B97;
    --nav-link-color: #CEEDDB;
    --nav-hover-link-color: #80BDA1;
    --nav-hover-background-color: #D7974F;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
    align-items: center;
}

header nav {
    display: flex;
    text-align: center;
    list-style: none;
}

.logo-box img {
    width: 80px;
    height: auto;
    margin: 0 0.24rem 0 1rem;
}

nav a {
    text-decoration: none;
    margin: 20px;
    border: 1px black;
    padding: 20px;
}

body {
    font-family: var(--paragraph-font);
    max-width: 100%;
    padding: 10px;
}

h1, h2, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

div.hero {
    position: relative;
    width: 100%;
    height: 30%;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    width: 100%;
    top: 5px;
    text-align: center;
    color: var(--primary-color);
    background-color: white;
    opacity: 80%;
}

article {
    position: absolute;
    margin: 20px;
    padding: 10px;
    background-color: white;
    opacity: 80%;
    top: 80px;
}

.hero article img {
    width: 20%;
    height: auto;
    float: right;
}

section {
    text-align: center;
}

figure {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

figure img {
    width: 220px;
    height: auto;
}

figcaption {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    padding: 3px;
    text-align: center;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: solid black;
    padding: 20px;
    margin: 20px;
}

footer img {
    max-width: 40px;
}

footer a {
    text-decoration: none;
    color: black;
}