:root {
    --primary-color: #000080;
    /* Navy*/
    --secondary-color: #000033;
    /* Blue*/
    --accent1-color: #B22222;
    /*Fire Brick*/
    --accent2-color: #FF7F50;
    /*Coral */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
    margin: 1rem auto;
    padding: 10px;
}

nav a {
    text-decoration: none;
}

header img {
    justify-self: center;
}

header ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
    text-align: center;
}

.socialmedia a {
    text-decoration: none;
}

.contact h1 {
    text-align: center;
    margin: 16px;
    padding: 10px;

}

.contact p {
    margin: 0;
    padding: 0;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 5px;
    padding: 5px;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: var(--secondary-color);

}

.hero article img {
    float: right;
    width: 125px;
    border: solid black;
    margin: 10px;
    box-shadow: 0 0 20px #333;
}

.centered-image {
    float: left;
    margin: 20px;
    width: 250px;
}

.adventure ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 5px;
    padding: 5px;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.adventure li {
    list-style: none;
}

.adventure img {
    margin: 5px;
    padding: 5px;
}

.form {
    word-spacing: 1rem;
}

figcaption {
    color: var(--secondary-color);
}

.map {
    margin: 10px;
    padding: 10px;
}

.serve ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5px;
    padding: 5px;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.serve li {
    list-style: none;
}

.serve img {
    margin: 5px;
    padding: 5px;
}

section h2 {
    text-align: center;
}

footer {
    position: relative;
}

footer p {
    position: absolute;
}

footer nav {
    position: relative;
    float: right;
}