@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Mate&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
   
:root {
    --primary-color: #728B97;
    --secondary-color: #80BDA1;
    --accent1-color: #CEEDDB;
    --accent2-color: #D7974F;

    --heading-font: 'Dancing Script', serif;
    --paragraph-font: 'Mate', serif;

    --nav-background-color: #728B97;
    --nav-link-color: #CEEDDB;
    --nav-hover-link-color: #80BDA1;
    --nav-hover-background-color: #D7974F;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}