body {
    background-color: rgb(241, 145, 161);
}
header{
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}
p{
    text-align: center;
}
.intro{
    color: white;
}
.name{
    color:white;
    font-size: large;
    font-weight: bold;
}
.list{
    color: black;
    font-weight: bold;
}
img {
    width: 20%;
    display: block;
    margin: 0 auto;

}
.quote{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    margin: 40px auto;
}
footer{
    text-align: center;
}
header:hover{
    color:black;
}
