* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border-color: black;
}

nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

header,
.grid,
footer {
    width: 840px;
    text-align: center;
    margin: 1rem;
}

.grid {
    display: grid;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

h1 {
    color: darkblue;
    padding: .5 rem;
    border-bottom: 1px solid darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    margin: 1rem;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 30px;
    left: 58px;
    color: white;
}

footer {
    margin-top: 1emx;
    border-top: 1px dotted var(--border-color);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 10%);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}