.callout {
    max-width: 400px;
    margin: 5px;
    border: 1px;
    padding: 5px;
    background-color: #15357D;
    color: white;
}

.callout img {
    float: right;
    margin: 15px;
    border: 3px;
    padding: 3px;
    background-color: blanchedalmond;
    width: 100px;
    height: auto;

}

blockquote {
    margin: 5px;
}

cite {
    display: block;
    border-top: dotted;
    padding-top: 5px;
    text-align: right;
    font-size: 14px;
}